<a href="https://colab.research.google.com/github/EfrainSD/Python-Learning-Notebooks/blob/main/Chapter9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 9 : Tuples

<h1> Simple Examples </h1>

In [ ]:
year_born = ("Paris Hilton", 1981)

In [ ]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georg\
2 ia")

In [ ]:
julia[2]

1967

<h1> A tuple cannot be modified </h1>

To do this, we must split it and add the new one where appropriate.

In [ ]:
julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]

<h1> We can separate the tuples </h1>

In [ ]:
b = ("Bob", 19, "CS")
(name, age, studies) = b
name

'Bob'

<h1> We can change values with tuples </h1>

In [ ]:
a = 1
b = 2
(a, b) = (b, a)
print(a)
print(b)

2
1