<a href="https://colab.research.google.com/github/EfrainSD/Python-Learning-Notebooks/blob/main/Chapter8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 8: String

<h1> Working with a string in parts </h1>

Goes from left to right

In [ ]:
fruit = "banana"
m = fruit[1]
print(m)

a

<h1> Split a String </h1>

In [ ]:
s = "Pirates of the Caribbean"
print(s[0:7])

print(s[11:14])

print(s[15:24])

friends = ["Joe", "Zoe", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]
print(friends[2:4])

Pirates
the
Caribbean
['Brad', 'Angelina']

Another example of division, but in a different way

In [ ]:
fruit = "banana"
print(fruit[:3])
print(fruit[3:])
print(fruit[3:999])

ban
ana
ana

<h1> The in and not in operators </h1>

In [ ]:
"pa" in "apple"

False

In [ ]:
"x" not in "apple"

True

<h1> Split </h1>

In [ ]:
ss = "Well I never did said Alice"
wds = ss.split()
wds

['Well', 'I', 'never', 'did', 'said', 'Alice']

<h1>The best way to write strings</h1>

This is quite important, especially when you want to print values that may change.

In [ ]:
s1 = "His name is {0}!".format("Arthur")
print(s1)

name = "Alice"
age = 10
s2 = "I am {1} and I am {0} years old.".format(age, name)
print(s2)

n1 = 4
n2 = 5
s3 = "2**10 = {0} and {1} * {2} = {3:f}".format(2**10, n1, n2, n1 * n2)
print(s3)

His name is Arthur!
I am Alice and I am 10 years old.
2**10 = 1024 and 4 * 5 = 20.000000